/* registration.page.scss */
ion-content {
    --padding-top: 20px;
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  ion-text {
    font-size: 0.9rem;
    margin-left: 15px;
  }
  
  .button-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    padding-top: 20px;
  }
  
  ion-button {
    width: auto; /* Ensures button doesn't expand to fill the container */
  }